@import url('https://fonts.cdnfonts.com/css/albra-display-trial');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Albra Book TRIAL', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.logo {
  cursor: default;
  font-size: 40pt;
}

hr {
  width: 500px;
  margin: auto;
}

.heroContent {
  margin-left: -30px;
}

.heroText {
  width: 500px;
  margin-top: 120px;
  margin-left: 170px;
  position: absolute;
  font-size: 22pt;
  cursor: default;
}

.heroText button {
  cursor: pointer;
  padding: 17px;
  margin-left: 320px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
}

.heroText button:hover {
  background-color:#000;
  color: #fff;
  transition: .3s;
}

.heroImg {
  margin-left: 100px;
}

.heroImg img {
  width: 340px;
  border-radius: 10px;
}

.heroImg img:first-child {
  width: 340px;
  margin-left: 50rem;
  margin-top: 50px;
  position: absolute;
}

.heroImg .secondImg {
  width: 170px;
  margin: 50px;
  margin-left: 82rem;
}

.heroContent img:last-child {
  width: 242px;
  margin-top: -22px;
  margin-left: 82rem;
}

.aboutUs {
  display: flex;
  margin-left: 100px;
  margin-top: 200px;
}

.aboutUsText {
  font-size: 22pt;
  margin-left: 20px;
  margin-top: 40px;
  width: 500px;
  cursor: default;
}

.aboutUsText h2 {
  font-size: 26pt;
  margin-left: 16rem;
  margin-top: 50px;
}

.aboutUs img {
  width: 700px;
  border-radius: 10px;
}

.aboutUs .imgBg {
  position: absolute;
  margin-left: -210px;
  margin-top: 10px;
  rotate: 43deg;
  width: 400px;
}

.ourWork {
  display: flex;
  margin-left: 170px;
  margin-top: 200px;
}

.ourWorkText {
  font-size: 22pt;
  width: 230px;
  margin-left: -80px;
  margin-right: 100px;
  cursor: default;
}

.ourWorkText h1 {
  margin-left: 20px;
  width: 210px;
}

.OWparagraph {
  padding-left: 20px;
  border-left: 2px solid;
}

.ourWorkImg {
  position: absolute;
  margin-left: 230px;
}

.ourWorkImg img {
  width: 300px;
  border-radius: 10px;
}

.ourWorkText button {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
}

.ourWorkText button:hover {
  background-color:#000;
  color: #fff;
  transition: .3s;
}

.workWithUs {
  display: flex;
  margin-top: 240px;
  margin-left: 250px;
}

.WWUText {
  font-size: 22pt;
  width: 500px;
}

.workInputs {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: -42px;
  margin-bottom: -20px;
  border-right: 2px solid #000;
  padding-right: 20px;
  padding-top: 30px;
}

.workInputs input {
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 25px;
  border: 2px solid #000;
  border-radius: 10px;
}

.workInputs input:hover {
  background-color:#000;
  color: #fff;
  transition: .3s;
}

.contactForm {
  position: relative;
  margin-top: 14rem;
  margin-left: -40px;
  margin-bottom: 200px;
}

.contactForm h1 {
  font-size: 22pt;
  width: 400px;
  margin-left: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  width: 250px;
} 

.contactForm form input,
.contactForm form textarea {
  padding: 4px 0 20px 10px;
  margin-bottom: 10px;
}

.contactForm form select {
  position: absolute;
  margin-top: 1px;
  padding: 10px;
  margin-left: 280px;
}

.contactForm form textarea {
  width: 427px;
  margin-top: 20px;
}

.contactForm input, 
.contactForm textarea,
.contactForm select {
  border-radius: 8px;
  border: 1px solid;
}

.contactForm form textarea {
  width: 365px;
}

.contactForm input:focus, 
.contactForm textarea:focus,
.contactForm select:focus {
  outline: none;
}

.contactForm input[type="submit"] {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  margin-top: -48px;
  padding: 10px;
  width: 100px;
  margin-left: 400px;
} 

.lastMessage {
  font-family: 'Inter';
  width: 500px;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 0 10px 0 24px;
  font-size: 20px;
  margin: 0 0 220px 450px;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 22px;
}

footer h1 {
  cursor: default;
  font-size: 30pt;
  margin: 42px 0 0 10px;
}

footer p {
  position: absolute;
  margin-top: 108px;
}

footer p a {
  color: #acaba9;
}

footer .social,
footer .links,
footer .newsletter {
  margin-top: 20px;
}

footer .links a, 
footer .social a {
  color: #fff;
  list-style: none;
  margin-top: 10px;
}

footer .links h3, 
footer .social h3 {
  font-size: 12pt;
  margin: auto;
}

footer .social i {
  font-size: 11pt;
  padding-left: -10px;
}

footer .links a:hover, 
footer .social a:hover {
  color: #acaba9;
}

footer .social ul {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

footer .social a {
  margin-left: 10px;
}

footer .newsletter h3 {
  font-size: 12pt;
  margin-bottom: 10px;
  cursor: default;
}

footer .newsletter input {
  padding: 10px 50px 10px 10px;
  border-radius: 20px;
  border: 1px solid;
}

footer .newsletter input:focus {
  outline: none; 
}

footer .newsletter input[type='submit'] {
  cursor: pointer;
  background-color: #000;
  padding: 9px 20px;
  color: #fff;
  border: 1px solid #fff;
  margin-left: -50px;
  border-radius: 20px;
}